{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Reset - {{ block.super }}{% endblock title %}
{% block metatags %}
<meta name="robots" content="noindex">
{% endblock metatags %}

{% block js %}
{{ block.super }}
<script type="module">
    import { check_password2, } from "{% static 'js/form_validation.js' %}";
    const password1_input = document.getElementById('id_password1');
    const password2_input = document.getElementById('id_password2');
    password2_input.addEventListener('input', () => {
        check_password2(password1_input, password2_input);
    }, false);
</script>
{% endblock js %}

{% block content %}
<main class="centered card">
    <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="centered-text">
        The password reset link was invalid, possibly because it has already been used.
        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
    </p>
    {% else %}
    {% if form %}
    <form class="col-2-to-3" method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn-primary" type="submit" name="action">Change Password</button>
    </form>
    {% else %}
    <p class="centered-text">Your password is now changed.</p>
    {% endif %}
    {% endif %}
</main>
{% endblock content %}
